body{
    background-image: linear-gradient(#a8dadc, #457b9d);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #title{
    display: flex;
    justify-content: center;
    color: #faedcd;
    font-size: 3em;
    text-decoration: underline;
  }
  main{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
  }
  h2{
    display: flex;
    justify-content: center;
    color: #9d0208;
  }
  p{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  img{
    display: flex;
    margin: 0 auto;
    width: 300px;
    border-radius: 10px;
  }